@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    color: black;
    display: grid;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: grid;
    max-width: 1440px;
    /*max-width: 375px;*/
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
    grid-template-areas: 
        "header header principal lateral"
        "footer1 footer footer lateral";
        /*"header"
        "principal"
        "lateral"
        "footer1"
        "footer";*/
}

.header {
    grid-area: header;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;

}

.principal {
    grid-area: principal;
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
 
.lateral {
    grid-area: lateral;
    background-color: hsl(0, 0%, 100%);    
    color: hsla(217, 30%, 14%, 0.842);
}

.footer1 {
    background-color: hsl(0, 0%, 100%) ;
    color: hsl(219, 29%, 14%, 0.842);
    
}

.footer {
    grid-area: footer;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
   
}

h2 {
    font-weight: 600;
    font-style: normal;
}

p {
    color: hsl(0, 0%, 81%);
    font-weight: 500;
}

.p-gray {
    color: hsla(217, 30%, 14%, 0.434);
    font-weight: 500;
}


.white {
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}
.gray {
    color: hsl(219, 29%, 14%, 0.842);
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}
div.item {
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin: 10px;
}

div.caixa {
    display: flex;
    align-items: center;
}


div.caixa > img {
    width: 35px;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 15px;
}

